.vscode
.gdb_history

bew
draw
gsd
pruebas

# Ignora
*.txt
*.o
app.o
start.o
memory_map.txt

# Kernel
kernel8.elf
kernel8.img
kernel8.list

# Python
sprite_parser.py

# Examples
assets/algorithms

# Krita
*.kra
