.vscode
.gdb_history
memmap

# Archivos test
bew
draw
gsd
pruebas
rec
assets/rename_me

# Ignora
*.txt
*.o
app.o
start.o
memory_map.txt

# Kernel
kernel8.elf
kernel8.img
kernel8.list

# Python
sprite_parser.py

# Examples
assets/algorithms

# Krita
*.kra
*.kra~

# ToDos README
todo_readme.md
tod

# Archivos grandes
